<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/close-up-of-antique-books-in-leather-tetra-images.jpeg">
    <link rel="stylesheet" href="../nav/navbar.css">
    <link rel="stylesheet" href="../styles/updateUser.css">
    <title>Update Profile</title>
</head>
<body>
    <div id="render-navbar"></div>

    <div id="form">
        <div id="feedback"></div>

        <div class="field-containers" id="field1">
            <label class="field-labels">First Name:</label>
            <input type="text" id="fname" class="input-fields">
        </div>
        
        <div class="field-containers" id="field2">
            <label class="field-labels">Last Name:</label>
            <input type="text" id="lname" class="input-fields">
        </div>
        
        <button id="submit-btn">Submit</button>
    </div>
    
    <script src="../nav/render-navbar.js"></script>
    <script src="../scripts/updateUser.js"></script>
</body>
</html>