body {
    background-color: rgb(71, 71, 71);
}

#button {
    position: absolute;
    height: 50px;
    width: 150px;
    top: 10%;
    left: 43%;
    border-left: solid;
    border-right: solid;
    border-top: double;
    border-bottom: double;
    border-color: rgb(255, 220, 25);
    border-width: 5px;
    background-color: rgba(218, 131, 1, 0.808);
    color: #ffff;
    box-shadow: 0px 10px 50px rgb(255, 220, 25);
}

#button:hover {
    background-color: rgba(0, 50, 187, 0.808);
    border-color:rgb(4, 134, 194);
    box-shadow: 0px 10px 50px rgb(4, 134, 194);
}