:root {
    --main-blue: rgba(1, 59, 218, 0.808);
}

body {
    margin: 0;
    background-color: #1E3D58;
    position: relative;
    height: 2000px;
}

#render-navbar {
    position: sticky;
    top: 0%;
    background-color: rgb(156, 60, 5);
    width: 100vw;
    height: 15vh;
    z-index: 999;
}

#logo {
    position: absolute;
    width: 15%;
    height: 80%;
    max-width: 130px;
    top: 10%;
}

.navigation-links {
    position: absolute;
    top: 35%;
    left: 17%;
    font-size: 1.5rem;
    height: 100%;
    width: 21vw;
}

.nav-links-elms {
    text-decoration: none;
    font-size: 3vh;
    margin-right: 2vw;
    background-color: rgb(141, 140, 140);
    color: var(--main-blue);
}

.nav-links-elms:visited {
    color: var(--main-blue);
}

.user-related {
    position: absolute;
    right: 5%;
    top: 35%;
}

.user-related-elms {
    text-decoration: none;
    font-size: 3vh;
    background-color: rgb(141, 140, 140);
    color: var(--main-blue);
}

.user-related-elms:visited {
    color: var(--main-blue);
}

#register {
    margin-right: 20px;
}

@media(max-width: 737px) {
    .navigation-links {
        top: 10%;
    }
}