body {
    height: 1000px;
    margin: 0;
}

nav {
    position: relative;
    background-color: rgb(156, 60, 5);
    color: #ffff;
    width: 100%;
    height: 100px;
}

#logo {
    position: absolute;
    width: 100px;
    height: 80px;
    top: 10%;
}

.navigation-links {
    position: absolute;
    color: #ffff;
    top: 35%;
    left: 10%;
    font-size: 1.5rem;
}

.user-related {
    position: absolute;
    right: 5%;
    top: 35%;
    font-size: 1.5rem;
}

.nav-links-elms {
    padding: 20px;
}

#register {
    padding: 20px;
}